<!DOCTYPE html>
<html>
    <head>
		<style>
		body
		{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;		
		}
		</style>
	</head>
	<body background="{{ url_for('static', filename='img/Img1.jpg') }} ">
		<h1 style="color:blue">UNIVERSITY ADMISSION PREDICTION SYSTEM</h1>
		<h2>Enter your details to get probability of your admission</h2>
		<form action="{{ url_for('predict')}}" method="post">
		Enter GRE score <input type="text" name="GRE" placeholder="GRE Score(out of 340)" required="required"><br><br>
		Enter TOEFL score <input type="text" name="TOEFL" placeholder="TOEFL Score(out of 120)" required="required"><br><br>
		Select University no<br>
		<input type="radio" name="rating" value="1">1<br>
		<input type="radio" name="rating" value="2">2<br>
		<input type="radio" name="rating" value="3">3<br>
		<input type="radio" name="rating" value="4">4<br>
		<input type="radio" name="rating" value="5">5<br><br>
		Enter SOP <input type="text" name="SOP" placeholder="SOP(out of 5)" required="required"><br><br>
		Enter LOR <input type="text" name="LOR" placeholder="LOR (out of 5)" required="required"><br><br>
		Enter CGPA <input type="text" name="CGPA" placeholder="CGPA (out of 10)" required="required"><br><br>
		Research<br>
		<input type="radio" name="research" value="1">Research<br>
		<input type="radio" name="research" value="0">No Research<br><br>
		<input type="submit" value="Predict">
		</form>
	</body>
</html>