<html>
	<head>
	<style>
		body
		{
			background-repeat : no-repeat;
			background-size: 25%;
			background-position: 80% 70%;
		}
	</style>
	</head>
	<body background="{{ url_for('static', filename='img/Img6.jpg') }} ">
		<br><br><br><br>
		<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Predicting chance of Admission</h2>
		<p id="id1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A machine learning web app using flask<br><br></p>
		<p id="id2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prediction : <u>You Dont have a chance</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<img height="30px" width="30px" src="{{ url_for('static', filename='img/Img5.png') }}"></p>
	</body>
</html>